html,
body,
.container {
  height: 100%;
}

body {
  font-family: "Inconsolata", monospace;
  line-height: 1.8;
  font-size: 18px;
  background: #000;
  font-weight: 300;
  letter-spacing: 1px;
  color: #333333;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  align-items: center;
  min-height: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .main-content {
  display: flex;
  flex-direction: column;
  width: 67%;
}
.content .text {
  display: flex;
  flex-direction: column;
}
.content .picture {
  width: 33%;
}
.content .btn-toolbar {
  display: flex;
}

.company a {
  font-family: "Questrial", sans-serif;
  font-size: 36px;
  color: #fff;
  transition: 0.5s;
  letter-spacing: 5px;
  text-decoration: none;
}

.made-by p {
  color: rgba(255, 255, 255, 0.9);
}

h1 {
  font-family: "Inconsolata", monospace;
  margin-bottom: 50px;
  font-size: 67px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.footer h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

.main-content h2 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: rgba(255, 255, 255, 0.6);
}

a {
  font-size: 30px;
  color: #fff;
  transition: 0.5s;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  padding: 8px 20px;
  background: transparent;
  border-color: #fff;
}

.btn:hover,
.btn:focus,
.btn:active {
  background: #fff;
  color: #000;
  font-size: 16px;
}
