.post-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: #f0f0f0;
  padding: 2rem;
}

.post-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-description {
  margin: 1rem 0;
}

.post-image {
  margin: 1rem 0;
}

.post-like-comments-share {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.post-like-comments span {
  margin-left: 1rem;
}
