html,
body {
  height: 100%;
}

body {
  background-image: url("../images/chuck.jpg");
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btnChuck {
  padding: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
}

.categories {
  margin-left: 1rem;
  padding: 0.5rem;
}

.jokes {
  margin-top: -100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.joke {
  background-color: white;
}
